pre {
    background-color: var(--c-medium-dark);
    margin: 0;
    padding: .75rem 1.5rem;
    border-radius: var(--border-radius);
    white-space: normal;
    font-size: 1rem;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

h2 > code {
    font-size: var(--h2-size);
}

.a-code.-code-inline {
    background-color: var(--c-medium-dark);
    border-radius: var(--border-radius);
    display: inline-block;
    padding: .25rem .75rem;
}

.a-code.-code-inline.-dark {
    background-color: var(--c-dark);
}

code.-markup {
    white-space: pre;
    display: block;
    width: 100%;
    overflow-x: auto;
}

code.-markup::-webkit-scrollbar {
    height: 5px;
}
