[class*='a-icon'] {
    display: block;
    background-image: var(--icon-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: var(--icon-size);
    height: var(--icon-size);
}

.a-icon.-feather {
    --icon-url: url('../public/icons/feather.svg');
}

.a-icon.-pen-tool {
    --icon-url: url('../public/icons/pen-tool.svg');
}

.a-icon.-watch {
    --icon-url: url('../public/icons/watch.svg');
}

.a-icon.-arrow-right {
    --icon-url: url('../public/icons/arrow-right.svg');
}

.a-icon.-layers {
    --icon-url: url('../public/icons/layers.svg');
}

.a-icon.-grid {
    --icon-url: url('../public/icons/grid.svg');
}

.a-icon.-tool {
    --icon-url: url('../public/icons/tool.svg');
}

.a-icon.-smile {
    --icon-url: url('../../../public/icons/smile.png');
}
