input {
    font-size: var(--font-size);
    padding-inline: 1em;
    padding-block: .65em;
    border-radius: var(--border-radius);
    border: 2px solid var(--c-dark);
    background-color: var(--c-medium-dark);
    color: var(--c-light);
    outline: none;
    width: 100%;
}

input:focus {
    border: 2px solid var(--c-primary__700);
}