:root {
    --c-primary: #e69f25;
    --c-primary__700: #bf841f;
    --c-light: #ebebec;
    --c-medium-light: #424657;
    --c-dark: #252734;
    --c-medium-dark: #333646;
    --border-radius: .75em;
    --icon-url: '';
    --icon-size: 15px;
    --h1-size: 5rem;
    --h2-size: 2.25rem;
    --logo-size: 50px;
    --font-size: 1.25rem;
}

body {
    overflow-x: hidden;
    background-color: var(--c-dark);
    font-family: 'Noto Sans', sans-serif;
    color: var(--c-light);
    line-height: 1.5;
    scroll-behavior: smooth;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    > div#__nuxt {
        min-height: inherit;
    }
}

[class^="p-"] {
    min-height: inherit;
}

h1 {
    font-size: clamp(3rem, 6.5vw, var(--h1-size));
    line-height: 1.25;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-size: var(--h2-size);
    margin: 0;
}
a {
    text-decoration: none;
    color: var(--c-light);
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--c-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c-medium-light);
}
